/* .navbar {
  display: flex;
  width: 82vw;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
  color: white;
  padding: 12px 0;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  top:0;
  right:0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
  color: white;
  padding: 12px 0 12px 0;
  font-size: 18px;
  font-weight: bold;
  position: static;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-left: 0;      /* Remove any default margin */
  border-radius: 0;    /* Remove any rounding */
}

.navbar-title {
  flex: 1;
  text-align: center;
}

.logout-button {
  background-color: #e60000;
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.logout-button:hover {
  background-color: #cc0000;
}
